.stepper-container-horizontal {
  border: 1px solid blue;
  border-radius: 3px;
  box-shadow: 0 0 13px #333;
  margin: 40px auto;
  padding: 30px;
  width: 60%;
}

.stepper-wrapper-horizontal {
  display: flex;
  justify-content: space-between;
}
.step-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23%;
}
.step-number {
  border-radius: 50%;
  /* border: 1px solid grey; */
  width: 24px;
  padding: 0 3px;
  height: 24px;
  text-align: center;
  margin-bottom: 1.2rem;
}
.divider-line {
  height: 1px;
  background-color: grey;
  position: absolute;
  /* width: 70%; */
  top: 18%;
  left: 70%;
}
.divider-line-2 {
  width: 296%;
}
.divider-line-3 {
  width: 125%;
}
.divider-line-4 {
  width: 75%;
}
.divider-line-5 {
  width: 60%;
}

.step-number-active {
  background-color: tomato;
  color: palevioletred;
}
.step-number-disabled {
  border: 1px solid #838383;
}
.step-description-active {
  font-weight: bold;
}

/* .divider-line:last-child {

} */

/* .stepper-container-vertical {
  border: 1px solid blue;
  border-radius: 3px;
  box-shadow: 0 0 13px #333;
  margin: 40px auto;
  padding: 30px;
  width: 20%;
}
.step-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.2 rem;
}
.step-number {
  border-radius: 80%;
  border: 1px solid grey;
  width: 18px;
  height: 18px;
  padding:4px;
  text-align: center;
  margin-left: 1.2rem;
}
.divider-line {
  height: 17px;
  background-color: #bdbdbd;
  position: absolute;
  width: 1px;
  top: 100%;
  left: 14px;
} */
