.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  user-select: none;
  cursor: pointer;
  z-index: 10;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  user-select: none;
  cursor: pointer;
  z-index: 10;
}
.slide {
  transition-duration: 1s ease;
  opacity: 0;
}
.slide.active {
  transition-duration: 1s ease;
  opacity: 1;
  transform: scale(1.03);
}
