.gridBoard {
  display: grid;
  place-items: center;
  /* grid-template-columns: repeat(12, 1fr); */
  /* grid-template-rows: repeat(12, 1fr); */
  min-width: 80%;
  max-height: 100%;
  /* border: 1px solid #3b1235; */
  column-gap: 0px;
  /* background-color: #ffffff; */
  padding: 20px;
}
.board-container {
  /* width: 300px; */
  background-color: #ffffff;
  border: 2px solid #d2d2d2;
  border-radius: 10px;
  padding: 30px;
}
.rtrt {
  border: 1px solid #f73bd7;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
