nav {
  font-size: 20px;
  /* font-weight: bold; */
  color: white;
  background-color: #2dcc5d !important;
  /* background-color: #283e4a !important; */
  border-bottom: 1px solid;
}

a {
  text-decoration: none;
  color: white !important;
}
/* i {
  color: white;
} */
