* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: helveticaneue;
  src: url(helveticaneue.woff);
}

body {
  font-family: helveticaneue !important;
}

i {
  cursor: pointer;
}
